/* --- Global CSS */

textarea {
    resize: none;
}

.card .card-body .card-title {
    font-size: 1rem !important;
    text-transform: uppercase;
    font-weight: 600;
    height: 2.35rem;
}

.card .card-body .btn {
    padding: 0 !important;
    margin: 0 !important;
}
